.main-div {
    background-color: aqua;
    width: 40rem;
    height: 20rem;
    border: 10px rgb(0, 64, 255) solid;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;

}

.g-div {
    background-color: rgb(216, 106, 106);
    width: 30rem;
    height: 10rem;
    border: 10px rgb(252, 0, 0) solid;
    display: flex;
    justify-content: center;
    align-items: center;
}

.p-div {
    background-color: rgb(139, 255, 139);
    width: 20rem;
    height: 5rem;
    border: 10px rgb(30, 255, 0) solid;
    display: flex;
    justify-content: center;
    align-items: center;
}

.c-div {
    color: aliceblue;
    background-color: cadetblue;
}